.placeTxt {
    font-size: 32px;
    font-weight: bold;
}

.courceTxt {
    font-size: 32px;
    font-weight: bold;
    color: #16A6EC;
}
.imgPosition{
    position: relative;
}
.internTxt{
    /* margin-top: -100px; */
    position: absolute;
    top: 20px;
    background-color: #19A2ED;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
}
.review {
    width: 50px;
    align-items: center;
    background-color: #E95D0F;
    color: #FFFFFF;
    font-weight: bold;
}

.stackTxt {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.expertTxt {
    font-size: 14px;

    color: #717B9E;
}

.knowBtn {
    width: 100%;
    background-color: #ffffff;
    color: #16A6EC;
    border-radius: 20px;
    border: 1px solid #16A6EC;
}

.month {
    background-color: #EBF7FD;
    border-radius: 4px;
    color: #16A6EC;
}

.job {
    background-color: #FFF5E7;
    border-radius: 4px;
    color: #E95D0F;
    font-size: 14px;
    font-weight: 500;
}

.rupya {
    background-color: #DDFEEA;
    border-radius: 4px;
    color: #239111;
}